@page "/admin"
@rendermode InteractiveServer
<h3>Admin</h3>
@if (!IsAdmin)
{
 <p>Enter Admin Password to add cars into the databse: </p>
 <input type="password" placeholder="Admin password" @bind="input_password"/>
 <button @onclick="CheckPassword">submit</button>
 @if(PasswordError)
 {
        <div>Password wrong or empty</div>
 }
}
else
{
    
<div class="form-group">
    <label for="CarName">Car Model:</label>
    <input id="CarName" @bind="@CarName" class="form-control" />
</div>

<div class="form-group">
    <label for="CarBrand">Car Brand:</label>
    <input id="CarBrand" @bind="@CarBrand" class="form-control" />
</div>

<div class="form-group">
    <label for="Seats">Seats:</label>
    <input id="Seats" @bind="@Seats" class="form-control" />
</div>

<div class="form-group">
    <label for="Doors">Doors:</label>
    <input id="Doors" @bind="@Doors" class="form-control" />
</div>

<div class="form-group">
    <label for="IsAutomatic">Is it Automatic:</label>
    <InputCheckbox id="IsAutomatic" @bind-Value="@IsAutomatic" @onchange="OnCheckboxChanged" />
    <label>@(IsAutomatic ? "True" : "False")</label>
</div>

<div class="form-group">
    <label for="HorsePwr">Horse Power:</label>
    <input id="HorsePwr" @bind="@HorsePwr" class="form-control" />
</div>

<div class="form-group">
    <label for="CarPic">Car Pic:</label>
    <input id="CarPic" @bind="@CarPic" class="form-control" />
</div>

<div class="form-group">
    <label for="CarPrice">Car Price:</label>
    <input id="CarPrice" @bind="@CarPrice" class="form-control" />
</div>

<button @onclick="InsertCarBtn" class="btn btn-primary" disabled="@(!CarIsValid())">Register</button>
}
@code {
    private string CarName;
    private string CarBrand;
    private int Seats;
    private int Doors;
    private bool IsAutomatic = false;
    private double HorsePwr;
    private string CarPic;
    private double CarPrice;

    private bool IsAdmin = false;
    private string input_password = "";
    private bool PasswordError = false;

    private void OnCheckboxChanged(ChangeEventArgs e)
    {
        Console.WriteLine($"Checkbox changed: {IsAutomatic}");
    }

    static CarDBUsage db = new();

    private bool CarIsValid()
    {
        if (!string.IsNullOrWhiteSpace(CarName) && !string.IsNullOrWhiteSpace(CarBrand)
            && Seats != 0 && Doors != 0 && HorsePwr != 0 && !string.IsNullOrWhiteSpace(CarPic))
            return true;
        else
            return false;
    }

    public void InsertCarBtn()
    {
        db.InsertIntoCarTable(CarName, CarBrand, Seats, Doors, IsAutomatic, HorsePwr, CarPic, CarPrice);
    }

    public void CheckPassword()
    {
        if (input_password == "" || input_password != "B0bR0ss")
        {
            PasswordError = true;
        }
        else if (input_password == "B0bR0ss")
        {
            IsAdmin = true;
            PasswordError = false;
        }
    }
}

