@page "/cardetails/{CarId}"
@rendermode InteractiveServer
@using RentCars.Model
@inject DataService SharedUser
@inject NavigationManager NavigationManager

<PageTitle>@car.CarBrand @car.CarName</PageTitle>

<h1>Car Details</h1>

@if (car != null)
{
    <div>
        <h2>@car.CarBrand @car.CarName</h2>
        <p>@car.CarPic</p>
        <p>Details</p>
        <p>Seats: @car.Seats</p>
        <p>Doors: @car.Doors</p>
        @if (car.IsAutomatic)
        {
            <p>Automatic / Manual: Automatic</p>
        }
        else
        {
            <p>Automatic / Manual: Manual</p>
        }
        <p>Price per day*: @car.CarPrice</p>
    </div>

    <p>* price may vary for the amount of days</p>
}
else
{
    <p>Car not found.</p>
}
<button @onclick="Return">Back to cars</button>
<button @onclick="RentCar">Rent</button>

@code {
    [Parameter]
    public string CarId { get; set; }

    static CarDBUsage db = new();

    private Car car;

    protected override void OnInitialized()
    {
        if (int.TryParse(CarId, out int carId))
        {
            car = db.SelectCarFromId(carId);
        }
    }

    public void RentCar()
    {
        NavigationManager.NavigateTo($"/carpurchase/{CarId}");
    }
    public void Return()
    {
        NavigationManager.NavigateTo("/carshow");
    }
}
