@page "/carpurchase/{CarId}"
@inject NavigationManager NavigationManager
@inject DataService DataService
@rendermode InteractiveServer

<PageTitle>Additional Packs</PageTitle>

 <div class="main-container">
    <h1>Total Price: @TotalPrice.ToString("F2")  CHF</h1>

    @if (!DaysInputted)
    {
        <h2>How many days do you need this car for?</h2>
        <input type="number" value="@NumOfDays" @oninput="DaysAmountChanged" />

        <button @onclick="ConfirmDays">Click here to confirm your input.</button>

        @if (DaysError)
        {
            <p>Please input a positive number of days.</p>
        }
    }
    else
    {
        <div class="plans">
            <div class="plan-card">
                <div>Basic - 0 CHF</div>
                @if (BasicSelected)
                {
                    <button disabled>Selected</button>
                }
                else
                {
                    <button @onclick="AddBasic">Select</button>
                }
        </div>
        <div class="plan-card">
            <div>Premium - 50 CHF</div>
                @if (PremiumSelected)
                {
                    <button disabled>Selected</button>
                }
                else
                {
                    <button @onclick="AddPremium">Select</button>
                }

        </div>
    </div>

    <div class="additons">
        <h3>Extras</h3>
        @foreach (Addition a in AllAdditions)
        {
            <div class="extra-card">
                <p>@a.Name</p>
                <img src="@a.ImagePath" />
                <p>@a.Description</p>
                    @if (a.IsSelected)
                    {
                        <button @onclick="(e => RemoveFromExtras(a))">Remove</button>
                    }
                    else
                    {
                        <button @onclick="(e => AddToExtras(a))">Add</button>
                    }
            </div>
        }
    </div>
 
    
        <button class="checkout" @onclick="FinalCheckout">Check out</button>
    }
</div>

<p>@DataService.Plan</p>

@code {
    [Parameter]
    public string CarId { get; set; }

    static CarDBUsage db = new();

    private Car car = new();

    public double TotalPrice = 0.0;
    public int NumOfDays = 0;

    public bool DaysInputted = false;
    public bool DaysError = false;

    public string plan = "";
    public bool BasicSelected = false;
    public bool PremiumSelected = false;

    // TODO: Add all tzhe additional packages
    List<Addition> AllAdditions = new List<Addition>{
        new Addition("Name", "Desc", "link", 250.50),
        new Addition("", "", "", 0.0),
        new Addition("", "", "", 0.0),
        new Addition("", "", "", 0.0),
        new Addition("", "", "", 0.0),
        new Addition("", "", "", 0.0),
    };

    protected override void OnInitialized()
    {
        if (int.TryParse(CarId, out int carId))
        {
            car = db.SelectCarFromId(carId);
            TotalPrice = car.CarPrice;
        }
    }

    public void DaysAmountChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int days))
        {
            NumOfDays = days;

            if(days > 0)
            {
                TotalPrice = Math.Ceiling((car.CarPrice * days) * 20) / 20;
            }
            else
            {
                TotalPrice = car.CarPrice;
            }
        }
    }

    public void ConfirmDays()
    {
        if(NumOfDays > 0)
        {
            DaysInputted = true;
        }
        else
        {
            DaysError = true;
        }
    }

    public void AddBasic()
    {
        if (PremiumSelected)
            TotalPrice -= 50;
        PremiumSelected = false;
        BasicSelected = true;
        DataService.Plan = "Basic";
    }

    public void AddPremium()
    {
        BasicSelected = false;
        PremiumSelected = true;
        TotalPrice += 50;
        DataService.Plan = "Premium";
    }

    public void AddToExtras(Addition a)
    {
        TotalPrice += a.Price;
        a.IsSelected = true;
        DataService.Additions.Add(a);
    }

    public void RemoveFromExtras(Addition a)
    {
        TotalPrice -= a.Price;
        a.IsSelected = false;
        DataService.Additions = DataService.Additions.Where(x => x.Name != a.Name).ToList();
    }

    public void FinalCheckout()
    {
        NavigationManager.NavigateTo($"/checkout/{CarId}");
    }
}
