@page "/carshow"
@inject NavigationManager NavigationManager
@inject DataService DataService
@rendermode InteractiveServer

<PageTitle>Cars</PageTitle>

<style>
  .car-div {
        border: 2px solid black;
        width: auto;
        padding: 5px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
  }

  .accountname{
    position: absolute;
    top: 0px;
    right: 0px;
  }
</style>
@if (DataService.SharedUserID == 0)
{
    <p>You're not logged in</p>
}
else
{

<p>Welcome @user.Lastname, Choose the car you want to rent! <button @onclick="LogOut">Log Out</button></p>

<div style="width: 100%">

        @if(carlist.Count() == 0)
        {
            <h1>No car is currently available.</h1>
        }
        else
        {
  @foreach(var car in carlist)
{
    <div class="car-div">
        <h2>@car.CarBrand @car.CarName</h2>
        <p>@car.CarPic</p>
        <p>Details</p>
        <p>Seats: @car.Seats</p>
        <p>Doors: @car.Doors</p>
        @if (car.IsAutomatic)
        {
           <p>Automatic / Manual: Automatic</p>
        }
        else
        {
           <p>Automatic / Manual: Manual</p>
        }
        <p>Price per day (may vary): @car.CarPrice</p>
        <button @onclick="(e => carchosen(car.CID))">Rent</button>
    </div>
}
}</div>
}

@code{
    static CarDBUsage cardatabase = new();
    static UserDBUsage userdatabase = new();
    int userid;
    static User user;

    public List<Car> carlist; 
    public void carchosen(int id)
    {
        NavigationManager.NavigateTo($"/cardetails/{id}");
    }

    protected override void OnInitialized()
    {
        user = userdatabase.UserGetUserdById(DataService.SharedUserID);
        carlist = cardatabase.SelectFromCarTable();
    }

    public void LogOut()
    {
        DataService.SharedUserID = 0;
        NavigationManager.NavigateTo("/");
    }
}