@page "/carshow"
@inject NavigationManager NavigationManager
@* @inject DataService DataService *@
@rendermode InteractiveServer
@using RentCars.Model

<PageTitle>Cars</PageTitle>
<style>
  .car-div {
        border: 2px solid black;
        width: auto;
        padding: 5px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
  }

  .accountname{
    position: absolute;
    top: 0px;
    right: 0px;
  }
</style>

@* <div class="accountname">@user.Lastname @user.Firstname, welcome!</div> *@

<div style="width: 100%">
@foreach(var car in carlist)
{
    <div class="car-div">
        <h2>@car.CarBrand @car.CarName</h2>
        <p>@car.CarPic</p>
        <p>Details</p>
        <p>Seats: @car.Seats</p>
        <p>Doors: @car.Doors</p>
        @if (car.IsAutomatic)
        {
           <p>Automatic / Manual: Automatic</p>
        }
        else
        {
           <p>Automatic / Manual: Manual</p>
        }
        <button @onclick="(e => carchosen(car.CID))">Rent</button>
    </div>
}
</div>


@code{
    static CarDBUsage database = new();
    User user = new();

    public List<Car> carlist = database.SelectFromCarTable();
    public void carchosen(int id)
    {

    }


    protected void OnInitialized()
    {
        // user = DataService.SharedUser;
    }
}