@page "/carshow"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using RentCars.Model

<PageTitle>Cars</PageTitle>
<style>
  .car-div {
        border: 2px solid black;
        width: auto;
        padding: 5px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
  }
</style>

<div style="width: 100%">
@foreach(var car in carlist)
{
    <div class="car-div">
        <h2>@car.CarBrand @car.CarName</h2>
        <p>@car.CarPic</p>
        <p>Details</p>
        <p>Seats: @car.Seats</p>
        <p>Doors: @car.Doors</p>
            @if (car.IsAutomatic)
            {
                <p>Automatic / Manual: Automatic</p>
            }
            else
            {
                <p>Automatic / Manual: Manual</p>
            }
            <button @onclick="carchosen">Rent</button>
    </div>
}
</div>


@code{
    static CarDBUsage database = new();

    public List<Car> carlist = database.SelectFromCarTable();
    public void carchosen(){

    }
}